html{ 

    font-size:20px;/*px quiere decir"pixeles":el tamaño de la fuente base es ahora de 10 pixeles de altura*/ 
    font-family:"Open Sans",sans-serif;/*Este debe ser el resto del resultado que obtuviste de google fonts*/ 

} 

h1 { 
    font-size:30px; 
    text-align:center; 

} 
p,li { 
    font-size: 20px; 
    line-height:2; 
    letter-spacing: 1px; 
}

p{
    color:rgb(6, 6, 100);
}
